
<div class="container">
  <div class="row">
    <h1 class="column" style="text-align: center;">Snacky</h1>
  </div>

  <div class="row">
    <%= link_to 'Bestellen', new_order_path, class: 'button column' %>
  </div>

  <div class="row">
    <%= link_to 'Meine Bestellungen', orders_path, class: 'button button-outline column' %>
  </div>

  <div class="row">
    <%= link_to 'Shoppen', 'shoppings/start', class: 'button button-outline column' %>
  </div>

  <div class="row">
    <%= link_to 'Snacks', snacks_url, class: 'button button-outline column' %>
  </div>


</div>